.img {
  border: 2px solid black;
  object-fit: scale-down;
}

.image-container {
  width: 200px;
  height: 200px;
}

.portfolio-image {
  object-fit: cover;
}

.overlay {
  opacity: 0%;
}
@media (pointer: fine) {
  .overlay:hover {
    opacity: 100%;
    background-color: rgba(32, 30, 30, 0.5);
    color: white;
    transition: background-color 0.4s;
  }
}

.overlaytext {
  align-items: center;
  justify-content: center;
  text-align: center;
}
